@charset "UTF-8";

.contentsTitle2 {
    height: 100px;
}

h1.contentsTitle{
	line-height: 80px;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family: 'GmarketSansBold';
}

.table
, .table > tr
, .table > tr> td{
	font-family: 'GmarketSansLight';
	color: white;
	vertical-align: middle;
}

.title{
	font-weight: bold;
}

input[type="text"]
, input[type="password"]
, input[type="date"]{
	width: 250px;
	height: 45px;
	border-radius: 50px;
	padding: 20px;
	font-size: 16px;
	font-family: 'GmarketSansLight';
}

select{
	width: 120px;
	height: 45px;
	border-radius: 50px;
	font-size: 16px;
	font-family: 'GmarketSansLight';
	padding-left: 15px;
	border: 1px solid white;
}

input[type="submit"] {
	width: 150px;
	height: 45px;
	border-radius: 50px;
	background-color: #FF778D;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	text-align: center;
	font-family: 'GmarketSansLight';
}

input[type="button"]{
	width: 150px;
	height: 45px;
	border-radius: 50px;
	background-color: #FF8CA0;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	text-align: center;
	font-family: 'GmarketSansLight';
}

.searchDiv a{
	font-family: 'GmarketSansLight';
	font-size: 14px;
	color: white;
}

.searchDiv a:hover{
	text-decoration: underline;
	color: white;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}









       